<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bucket List with Flask</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript" src="../static/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="home">Home</a></li>
                    <li role="presentation"><a href="addwish">Add Item</a></li>
                    <li role="presentation"><a href="logout">Logout</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Bucket List App</h3>
        </div>
        <div class="jumbotron">
            <h1>{{ name }}</h1>
        </div>
        <div>
            <div class="alert alert-info message-alert" style="display : none;">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div id="message-text"></div>
            </div>
            <h4>Wish List</h4>
            <ul class="list-group" id="uncheckedListGroup">
            </ul>
            <hr>
            <h4>History</h4>
            <ul class="list-group" id="checkedListGroup">
            </ul>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Delete item</h4>
                    </div>
                    <div class="modal-body">
                        Delete this item list forever?
                        <form id="deleteWish" action="deleteWish" method="POST">
                            <input type="hidden" name="id" value="" id="wishId">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-cancel" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary btn-yes">Yes</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- end Modal -->
        <footer class="footer">
            <p>&copy; sigidhanafi 2016</p>
        </footer>
    </div>
</body>
<script type="text/javascript">
    $(function(){
        getUncheckedWish();
        getCheckedWish();

        $(".btn-yes").on('click', function(){
            $("#deleteWish").submit();
        })
    })
    function getUncheckedWish(){
        $.ajax({
            url: '/getUncheckedWish',
            type: 'GET',
            dataType: "json",
            success: function(response) {
                if (response.success === true) {
                    var data = response.data;
                    $("#uncheckedListGroup").html('');
                    if (data.length > 0) {
                        $("#uncheckedListTemplate").tmpl(data).appendTo("#uncheckedListGroup");
                        $(".checkWish").unbind();
                        $(".btn-delete").unbind();
                        $(".btn-delete").on('click', function(){
                            var id = $(this).attr("id");
                            $("#wishId").val(id);
                        })
                        $(".checkWish").on('change', function(){
                            var id = $(this).attr('id');
                            if (this.checked) {
                                $.ajax({
                                    url: '/checkWish',
                                    data: 'id='+id,
                                    type: 'POST',
                                    dataType: "json",
                                    success: function(response) {
                                        var message = response.message;
                                        $("#message-text").html(message);
                                        $(".message-alert").fadeIn(function(){
                                            setInterval(function(){$(".message-alert").fadeOut()}, 3000);
                                        });
                                    },
                                    error: function(error) {
                                        console.log(error);
                                    }
                                });
                            }else{
                                $.ajax({
                                    url: '/uncheckWish',
                                    data: 'id='+id,
                                    type: 'POST',
                                    dataType: "json",
                                    success: function(response) {
                                        var message = response.message;
                                        $("#message-text").html(message);
                                        $(".message-alert").fadeIn(function(){
                                            setInterval(function(){$(".message-alert").fadeOut()}, 3000);
                                        });
                                    },
                                    error: function(error) {
                                        console.log(error);
                                    }
                                });
                            }
                            getUncheckedWish();
                            getCheckedWish();
                        })
                    }else{
                        $("#emptyListTemplate").tmpl(response.message).appendTo("#uncheckedListGroup");
                    }
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    }

    function getCheckedWish(){
        $.ajax({
            url: '/getCheckedWish',
            type: 'GET',
            dataType: "json",
            success: function(response) {
                if (response.success === true) {
                    var data = response.data;
                    $("#checkedListGroup").html('');
                    if (data.length > 0) {
                        $("#checkedListTemplate").tmpl(data).appendTo("#checkedListGroup");
                        $(".checkWish").unbind();
                        $(".btn-delete").unbind();
                        $(".btn-delete").on('click', function(){
                            var id = $(this).attr("id");
                            $("#wishId").val(id);
                        })
                        $(".checkWish").on('change', function(){
                            var id = $(this).attr('id');
                            if (this.checked) {
                                $.ajax({
                                    url: '/checkWish',
                                    data: 'id='+id,
                                    type: 'POST',
                                    dataType: "json",
                                    success: function(response) {
                                        var message = response.message;
                                        $("#message-text").html(message);
                                        $(".message-alert").fadeIn(function(){
                                            setInterval(function(){$(".message-alert").fadeOut()}, 3000);
                                        });
                                    },
                                    error: function(error) {
                                        console.log(error);
                                    }
                                });
                            }else{
                                $.ajax({
                                    url: '/uncheckWish',
                                    data: 'id='+id,
                                    type: 'POST',
                                    dataType: "json",
                                    success: function(response) {
                                        var message = response.message;
                                        $("#message-text").html(message);
                                        $(".message-alert").fadeIn(function(){
                                            setInterval(function(){$(".message-alert").fadeOut()}, 3000);
                                        });
                                    },
                                    error: function(error) {
                                        console.log(error);
                                    }
                                });
                            }
                            getUncheckedWish();
                            getCheckedWish();
                        })
                    }else{
                        $("#emptyListTemplate").tmpl(response.message).appendTo("#checkedListGroup");
                    }
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    }
</script>
<script type="text/x-jQuery-tmpl" id="uncheckedListTemplate">
    <li class="list-group-item">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="" class="checkWish" id="${id}">
                ${title}
            </label>
            <div class="pull-right col-lg-2 text-right">
                <a href="#" class="btn-delete" alt="delete" title="delete" id="${id}" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash" aria-hidden="true"></i></a> &nbsp;
                <a href="/editWish?id=${id}" class="" alt="edit" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a> &nbsp;
                <a href="/showWish?id=${id}" class="" alt="view" title="view"><i class="fa fa-eye" aria-hidden="true"></i></a> &nbsp;
            </div>
        </div>
    </li>
</script>
<script type="text/x-jQuery-tmpl" id="checkedListTemplate">
    <li class="list-group-item">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="" class="checkWish" id="${id}" checked="checked">
                <del>${title}</del>
            </label>
            <div class="pull-right col-lg-2 text-right">
                <a href="/showWish?id=${id}" class="" alt="view" title="view"><i class="fa fa-eye" aria-hidden="true"></i></a> &nbsp;
            </div>
        </div>
    </li>
</script>
<script type="text/x-jQuery-tmpl" id="emptyListTemplate">
    <div class="alert alert-info" role="alert">
        You don't have list items!
    </div>
</script>
</html>